<web-app>
	<servlet>
		<servlet-name>bean</servlet-name>
		<servlet-class>lzr.java.mvc.servlet.BeanSrv</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>bean</servlet-name>
		<url-pattern>/bean</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>config</servlet-name>
		<servlet-class>lzr.java.mvc.servlet.ConfigSrv</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>config</servlet-name>
		<url-pattern>/con</url-pattern>
	</servlet-mapping>
</web-app>